*{
  margin: 0;
  padding: 0;
}
body {
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}
#grid{
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 10px;
}
#navbar{
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 3px solid #ccc;
}
#navbar header{
  padding: 20px;
  font-size: 2rem;
  color: #000;
}
#navbar li{
  list-style: none;
  padding: 10px 0 10px 20px;
  border-top: 1px solid #000;
}
#navbar a{
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
#content{
  margin: 20px;
  box-sizing: border-box;
  font-size: 15px;
}
section header{
  color: #000;
  font-size: 2rem;
  padding: 10px 20px;
}
section ul{
  padding-left: 50px;
  margin: 10px;

}
code{
  padding: 15px;
  display: block;
  width: auto;
  background-color: #f4f4f4;
  border-radius: 5px;
  margin: 10px;
}